@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2&display=swap');

html body {
  margin: 0;
  padding: 0;
  height: 100vh;
  widht: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('assets/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  color: #E8F1F2;
  font-family: 'Baloo Bhaijaan 2';
}
